In [10]:
import pandas as pd
import numpy as np

In [4]:
dataframe = pd.read_csv( "bank-additional-full.csv", sep=";")
print (dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

In [7]:
training_data = dataframe
training_data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
21,55,blue-collar,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
22,55,retired,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
23,41,technician,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
25,35,technician,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
26,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
28,54,technician,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
29,55,unknown,married,university.degree,unknown,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,35,technician,divorced,basic.4y,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes
41159,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,1,9,4,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41160,33,admin.,married,university.degree,no,no,no,cellular,nov,tue,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes
41161,33,admin.,married,university.degree,no,yes,no,cellular,nov,tue,...,1,999,1,failure,-1.1,94.767,-50.8,1.035,4963.6,no
41162,60,blue-collar,married,basic.4y,no,yes,no,cellular,nov,tue,...,2,4,1,success,-1.1,94.767,-50.8,1.035,4963.6,no
41163,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,tue,...,3,4,2,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41164,54,admin.,married,professional.course,no,no,no,cellular,nov,tue,...,2,10,1,success,-1.1,94.767,-50.8,1.035,4963.6,yes
41165,38,housemaid,divorced,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,yes
41166,32,admin.,married,university.degree,no,no,no,telephone,nov,wed,...,1,999,1,failure,-1.1,94.767,-50.8,1.030,4963.6,yes
41167,32,admin.,married,university.degree,no,yes,no,cellular,nov,wed,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41168,38,entrepreneur,married,university.degree,no,no,no,cellular,nov,wed,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41169,62,services,married,high.school,no,yes,no,cellular,nov,wed,...,5,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no
41170,40,management,divorced,university.degree,no,yes,no,cellular,nov,wed,...,2,999,4,failure,-1.1,94.767,-50.8,1.030,4963.6,no
41171,33,student,married,professional.course,no,yes,no,telephone,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes
41172,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes
41173,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,yes
41174,62,retired,married,university.degree,no,yes,no,cellular,nov,thu,...,1,1,6,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41175,34,student,single,unknown,no,yes,no,cellular,nov,thu,...,1,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,no
41176,38,housemaid,divorced,high.school,no,yes,yes,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no
41177,57,retired,married,professional.course,no,yes,no,cellular,nov,thu,...,6,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no
41178,62,retired,married,university.degree,no,no,no,cellular,nov,thu,...,2,6,3,success,-1.1,94.767,-50.8,1.031,4963.6,yes
41179,64,retired,divorced,professional.course,no,yes,no,cellular,nov,fri,...,3,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41180,36,admin.,married,university.degree,no,no,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41181,37,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [33]:
import math

def pday(x):
    if x>10: return("More Than 10")
    elif x>0: return("1 to 10")
    elif x==0: return("Not Contacted")
    
def job(x):
    #if x=="unemployed": return("unemployed")
    #elif x in ["student","retired"]: return("non-working")
    #else: return("working")
    if x=="unemployed" : return("unemployed")
    elif x in ["student","retired"]: return("non-working")
    else: return("working")

#mappingEdu = {'basic.9y':'edu1', 'basic.6y':'edu1', 'basic.4y':'edu1',
#                 'high.school':'edu2', 'university.degree':'edu2', 'professional.course':'edu2',
#                 'unknown':'edu3'}
    
def marital(x):
    if x=="unknown": return("unknown")
    elif x in ["married","divorced"]: return("married-once")
    else: return("single")

#df[column+'_cat'] = pand.cut(df[column],cut_points,labels=categories)
#trainset = process_range(trainset,'age',[15,29,59,74,100],
#                            ["YoungAdult","Adult","Old Adult","Senior"])

def education(x):
    if x=="unknown": return("unknown")
    elif x in ["illiterate"]: return("illiterate")
    else: return("some-education")
    #elif (((x=="basic.9y") or (x=="basic.6y") or (x=="basic.4y")): return("edu_basic")
    #elif (x== "basic.9y" or "basic.6y" or "basic.4y"): return("edu_basic")
    #elif (x=="high.school" or "university.degree" or "professional.course"): return("edu_higher")
def enc(x):
    if x=="unknown": return(-1)
    elif x in ["yes"]: return(1)
    else: return(0)
    
def day(x):
    if x in ["mon","fri"]: return(0)
    else: return(1)
#duration contact and month not processed
training_data['label']=np.where(training_data['y']=='yes',1,0)
#training_data['newage']=[math.log(x) for x in training_data['age']]
training_data['new_duration']=[math.log(x+1) for x in training_data['duration']]
training_data['new_campaign']=[math.log(x) for x in training_data['campaign']]
#training_data['previous_flag']=np.where([(x>0) for x in training_data['previous']],1,0)
training_data['new_npdays']=np.where(training_data['pdays']==999,0,training_data['pdays'])
training_data['new_pdays']=[pday(x) for x in training_data['npdays']]
training_data['new_job']=[job(x) for x in training_data['job']]
training_data['new_marital']=[marital(x) for x in training_data['marital']]
training_data['new_education']=[education(x) for x in training_data['education']]
training_data['new_default']=[enc(x) for x in training_data['default']]
training_data['new_housing']=[enc(x) for x in training_data['housing']]
training_data['new_loan']=[enc(x) for x in training_data['loan']]
training_data['new_day']=[day(x) for x in training_data['day_of_week']]
training_data['poutcome_t']=np.where(training_data['poutcome']=='success',1,0)
training_data['leuribor3m']=[math.log(x) for x in training_data['euribor3m']]
training_data['newage']=pd.cut(training_data['age'],[15,29,59,74,100],labels=["YoungAdult","Adult","Old Adult","Senior"])
#          'previous',[-1,2,5,7],["Few","Lot","Much"]
training_data['previous_flag']=pd.cut(training_data['previous'],[-1,2,5,7],labels=["Few","Lot","Much"])

In [25]:
training_data['education_t']

0        edu_basic
1        edu_basic
2        edu_basic
3        edu_basic
4        edu_basic
5        edu_basic
6        edu_basic
7          unknown
8        edu_basic
9        edu_basic
10         unknown
11       edu_basic
12       edu_basic
13       edu_basic
14       edu_basic
15       edu_basic
16       edu_basic
17       edu_basic
18       edu_basic
19       edu_basic
20       edu_basic
21       edu_basic
22       edu_basic
23       edu_basic
24       edu_basic
25       edu_basic
26         unknown
27       edu_basic
28       edu_basic
29       edu_basic
           ...
41158    edu_basic
41159    edu_basic
41160    edu_basic
41161    edu_basic
41162    edu_basic
41163    edu_basic
41164    edu_basic
41165    edu_basic
41166    edu_basic
41167    edu_basic
41168    edu_basic
41169    edu_basic
41170    edu_basic
41171    edu_basic
41172    edu_basic
41173    edu_basic
41174    edu_basic
41175      unknown
41176    edu_basic
41177    edu_basic
41178    edu_basic
41179    edu_basic
41180    edu_basic
41181    edu_basic
41182    edu_basic
41183    edu_basic
41184    edu_basic
41185    edu_basic
41186    edu_basic
41187    edu_basic
Name: education_t, Length: 41188, dtype: object

In [34]:
column_names=['label', 'new_duration', 'new_campaign', 'new_npdays', 'new_pdays', 'new_job' , 'new_marital', 'new_education', 'new_default', 'new_housing', 'new_loan' , 'new_day', 'poutcome_t','leuribor3m','newage', 'previous_flag' ]

new_train = training_data[column_names]

In [35]:
columns=new_train.columns.values.tolist()
numerical_columns=new_train._get_numeric_data().columns.values.tolist()
catergorical_columns=list(set(columns) - set(numerical_columns))

# encoding

dummies=pd.get_dummies(new_train[catergorical_columns], prefix=['col1', 'col2', 'col3', 'col4','col5', 'col6'])
train_data= pd.concat([new_train[numerical_columns], dummies], axis=1)

In [36]:
train_data

,label,new_duration,new_campaign,new_npdays,new_default,new_housing,new_loan,new_day,poutcome_t,leuribor3m,...,col3_Senior,col4_illiterate,col4_some-education,col4_unknown,col5_married-once,col5_single,col5_unknown,col6_1 to 10,col6_More Than 10,col6_Not Contacted
0,0,5.568345,0.000000,0,0,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
1,0,5.010635,0.000000,0,-1,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
2,0,5.424950,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
3,0,5.023881,0.000000,0,0,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
4,0,5.730100,0.000000,0,0,0,1,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
5,0,5.293305,0.000000,0,-1,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
6,0,4.941642,0.000000,0,0,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
7,0,5.384495,0.000000,0,-1,0,0,0,0,1.580421,...,0,0,0,1,1,0,0,0,0,1
8,0,5.942799,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
9,0,3.931826,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
10,0,4.025352,0.000000,0,-1,0,0,0,0,1.580421,...,0,0,0,1,1,0,0,0,0,1
11,0,5.407172,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
12,0,4.927254,0.000000,0,0,0,1,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
13,0,5.683580,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
14,0,4.990433,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
15,0,5.164786,0.000000,0,-1,1,1,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
16,0,5.746203,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
17,0,6.089045,0.000000,0,-1,1,1,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
18,0,5.869297,0.000000,0,0,1,1,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
19,0,5.278115,0.000000,0,-1,0,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
20,0,3.663562,0.000000,0,0,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
21,0,5.572154,0.000000,0,-1,1,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
22,0,5.837730,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
23,0,5.204007,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
24,0,5.153292,0.000000,0,0,1,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
25,0,4.605170,0.000000,0,0,0,1,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
26,0,4.543295,0.000000,0,0,1,0,0,0,1.580421,...,0,0,0,1,1,0,0,0,0,1
27,0,5.455321,0.000000,0,-1,0,0,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
28,0,5.545177,0.693147,0,-1,0,0,0,0,1.580421,...,0,0,1,0,0,1,0,0,0,1
29,0,5.894403,0.000000,0,-1,-1,-1,0,0,1.580421,...,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41158,1,5.897154,0.000000,0,0,0,0,1,0,0.034401,...,0,0,1,0,1,0,0,0,0,1
41159,1,6.244167,0.000000,9,0,1,0,1,1,0.034401,...,0,0,1,0,1,0,0,1,0,0
41160,1,6.738152,0.000000,0,0,0,0,1,0,0.034401,...,0,0,1,0,1,0,0,0,0,1
41161,0,6.236370,0.000000,0,0,1,0,1,0,0.034401,...,0,0,1,0,1,0,0,0,0,1
41162,0,5.852202,0.693147,4,0,1,0,1,1,0.034401,...,0,0,1,0,1,0,0,1,0,0
41163,1,5.955837,1.098612,4,0,1,0,1,1,0.034401,...,0,0,1,0,1,0,0,1,0,0
41164,1,7.533159,0.693147,10,0,0,0,1,1,0.034401,...,0,0,1,0,1,0,0,1,0,0
41165,1,6.001415,0.693147,0,0,0,0,1,0,0.029559,...,0,0,1,0,1,0,0,0,0,1
41166,1,6.480045,0.000000,0,0,0,0,1,0,0.029559,...,0,0,1,0,1,0,0,0,0,1
41167,0,5.468060,1.098612,0,0,1,0,1,0,0.029559,...,0,0,1,0,1,0,0,0,0,1
41168,0,4.976734,0.693147,0,0,0,0,1,0,0.029559,...,0,0,1,0,1,0,0,0,0,1
41169,0,5.043425,1.609438,0,0,1,0,1,0,0.029559,...,0,0,1,0,1,0,0,0,0,1
41170,0,5.683580,0.693147,0,0,1,0,1,0,0.029559,...,0,0,1,0,1,0,0,0,0,1
41171,1,4.727388,0.000000,0,0,1,0,1,0,0.030529,...,0,0,1,0,1,0,0,0,0,1
41172,1,5.869297,0.000000,0,0,1,0,1,0,0.030529,...,0,0,1,0,0,1,0,0,0,1
41173,1,5.799093,0.000000,0,0,1,0,1,0,0.030529,...,0,0,1,0,1,0,0,0,0,1
41174,1,5.342334,0.000000,1,0,1,0,1,1,0.030529,...,0,0,1,0,1,0,0,1,0,0
41175,0,5.198497,0.000000,0,0,1,0,1,0,0.030529,...,0,0,0,1,0,1,0,0,0,1
41176,0,5.888878,0.000000,0,0,1,1,1,0,0.030529,...,0,0,1,0,1,0,0,0,0,1
41177,0,4.828314,1.791759,0,0,1,0,1,0,0.030529,...,0,0,1,0,1,0,0,0,0,1
41178,1,6.182085,0.693147,6,0,0,0,1,1,0.030529,...,0,0,1,0,1,0,0,1,0,0
41179,0,5.023881,1.098612,0,0,1,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41180,0,5.541264,0.693147,0,0,0,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41181,1,5.641907,0.000000,0,0,1,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41182,0,4.727388,0.000000,9,0,1,0,0,1,0.027615,...,0,0,1,0,0,1,0,1,0,0
41183,1,5.814131,0.000000,0,0,1,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41184,0,5.950643,0.000000,0,0,0,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41185,0,5.247024,0.693147,0,0,1,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41186,1,6.093570,0.000000,0,0,0,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1
41187,0,5.480639,1.098612,0,0,1,0,0,0,0.027615,...,0,0,1,0,1,0,0,0,0,1

In [52]:
#handling class imbalance
from sklearn.utils import resample
temp_train=train_data
value_1=temp_train[temp_train.label==1]
n=value_1.label.value_counts()
value_0=temp_train[temp_train.label==0]
#value_0.label.value_counts()
#value_0_sampled= resample(value_0,replace=False,n_samples=n,random_state=123)
value_0=temp_train[temp_train.label==0].sample(len(value_1.label))
temp_train_new=pd.concat([value_1,value_0])

X_train=temp_train_new.drop(["label"],axis=1)
y_train=temp_train_new['label']

In [50]:
#ignore
columns=new_train.columns.values.tolist()

#new_column=list(set(columns)-"label")
new_label=new_train['label']
del new_train['label']
y_train=

In [55]:
#feature_importances

from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
rfmodel=model.fit(X_train,y_train)
imp_features=list(rfmodel.feature_importances_)

print (imp_features)
print (X_train.columns.tolist())

[0.47071920114776616, 0.04561592910341876, 0.014316765503436048, 0.016205143830994757, 0.016458743661998114, 0.013615846458857096, 0.015558955710351097, 0.008540033141932591, 0.2818219793874139, 0.0029277061989050317, 0.0011447946682792108, 0.00018184114661004206, 0.004420786578751409, 0.0016625765490444037, 0.012063148149374103, 0.004872441384059982, 0.013464686865877401, 0.0017832290618419876, 0.003024043634024345, 0.0001785798483213402, 0.002546397060911106, 0.0025424573771005766, 0.005785210338250921, 0.006448038039574227, 0.0006933835439980119, 0.03488733846556963, 0.0018151392413047053, 0.016705603902033038]
['new_duration', 'new_campaign', 'new_npdays', 'new_default', 'new_housing', 'new_loan', 'new_day', 'poutcome_t', 'leuribor3m', 'col1_Few', 'col1_Lot', 'col1_Much', 'col2_non-working', 'col2_unemployed', 'col2_working', 'col3_YoungAdult', 'col3_Adult', 'col3_Old Adult', 'col3_Senior', 'col4_illiterate', 'col4_some-education', 'col4_unknown', 'col5_married-once', 'col5_single', 'col5_unknown', 'col6_1 to 10', 'col6_More Than 10', 'col6_Not Contacted']

In [56]:
selected_features=['new_duration','leuribor3m','new_campaign','col6_1 to 10', 'new_npdays', 'new_default', 'new_housing', 'new_loan', 'new_day', 'col2_working', 'col3_Adult', 'col6_Not Contacted']
X_train1=X_train[selected_features]

In [67]:
from sklearn.model_selection import KFold

from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
model=RandomForestClassifier() 
errors=[]
acc=[]
for train_index, test_index in KFold(n_splits=10).split(X_train1):
    X_train2, X_test2 = X_train1.iloc[train_index], X_train1.iloc[test_index]
    Y_train2, Y_test2 = y_train.iloc[train_index], y_train.iloc[test_index]

    lm = model.fit(X_train2,Y_train2)
    Y_pred = lm.predict(X_test2)
    test_accu=accuracy_score(Y_test2,Y_pred)
    acc.append(test_accu)
    errors.append(mean_absolute_error(Y_test2, Y_pred))

print("mae is" , np.mean(errors))
print("mae is" , np.mean(acc))

mae is 0.3698275862068965
mae is 0.6301724137931035